<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入配置属性文件 -->
    <context:property-placeholder location="classpath*:svn.properties"/>
    <context:component-scan base-package="com.dcits.patchtools"/>

    <bean id="yamlUtil" class="com.dcits.patchtools.svn.util.YamlUtil">

    </bean>

    <bean id="svnDao" class="com.dcits.patchtools.svn.dao.SvnDao">
        <constructor-arg name="svnUrl" value="file:///D:/MyWorkSpace/chongqing/svn_repo"/>
    </bean>
    <bean id="pathRuleService" class="com.dcits.patchtools.svn.service.impl.DefaultPathRuleService"/>
    <bean id="svnService" class="com.dcits.patchtools.svn.service.impl.SvnServiceImpl">
        <property name="svnDao" ref="svnDao"/>
        <property name="abstractPathRuleService" ref="pathRuleService"/>
    </bean>
</beans>