<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入配置属性文件 -->
    <context:property-placeholder location="classpath*:svn.properties"/>
    <context:component-scan base-package="com.dcits.patchtools.svn"/>

    <!-- 加载规则文件 -->
    <bean id="yamlMap" class="org.springframework.beans.factory.config.YamlMapFactoryBean">
        <property name="resources" value="classpath*:patchRule.yml"/>
    </bean>
    <!-- 规则类加载 -->
    <bean id="pathRuleService" class="com.dcits.patchtools.svn.service.impl.PathRuleServiceImpl">
        <property name="yamlMap" ref="yamlMap"/>
    </bean>

    <!-- 以下为根据 -->
    <bean id="svnDao" class="com.dcits.patchtools.svn.dao.SvnDao">
        <property name="svnBaseUrl" value="${svn.url.base}"/>
        <property name="svnUrl" value="${svn.url}"/>
        <property name="user" value="${svn.username}"/>
        <property name="pwd" value="${svn.password}"/>
    </bean>
    <bean id="svnService" class="com.dcits.patchtools.svn.service.impl.SvnServiceImpl">
        <property name="svnDao" ref="svnDao"/>
    </bean>
    <bean id="patchService" class="com.dcits.patchtools.svn.service.impl.PatchServiceImpl">
        <property name="xmlDir" value="${patch.xml.dir}"/>
        <property name="excelDir" value="${patch.excel.dir}"/>
        <property name="svnService" ref="svnService"/>
        <property name="pathRuleService" ref="pathRuleService"/>
    </bean>
</beans>